<h1><%= @user.name %></h1>

<table class="table">
  <tr>
    <th>Newspaper Title:</th>
    <th>Price</th>
    <th>Delivery Schedule</th>
  </tr>
  <% @user.subscription_plans.each do |plan| %>
    <tr>
      <td><%= plan.newspaper.title %></td>

      <%= render partial: 'shared/plan', object: plan %>
    </tr>
  <% end %>
</table>
