<% signup ||= false %>
<div class="container">
  <% newspapers.each do |newspaper| %>

    <%= render partial: 'newspapers/newspaper', object: newspaper, locals: { signup: signup } %>

  <% end %>
</div>